h1{
    color: red;
}
.App{
    text-align: center;

}
.box{
    max-width: 200px;
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(66, 66, 66, 0.16) 0px 1px 4px;
    text-align: center;
}
p{
    font-size: 18px;
    text-align: center;
}
button {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Depth effect */
}
button.add{
    background-color: #18978F;
}
button.sub{
    background-color: #EB4747;
}